In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
data=pd.read_excel("/content/Crude Oil Prices Daily.xlsx")

In [15]:
data.isnull().any()

Date             False
Closing Value     True
dtype: bool

In [17]:
data.isnull().sum()

Date             0
Closing Value    7
dtype: int64

In [18]:
data.dropna(axis=0,inplace=True)

In [19]:
data.isnull().sum()

Date             0
Closing Value    0
dtype: int64

In [20]:
data_oil=data.reset_index()['Closing Value']
data_oil

0       25.56
1       26.00
2       26.53
3       25.85
4       25.87
        ...
8211    73.89
8212    74.19
8213    73.05
8214    73.78
8215    73.93
Name: Closing Value, Length: 8216, dtype: float64